performance_evaluations/*
pretrained_models/*
saved_models/*
datasets/*
ZIP/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
env/
*.bak
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
**/datasets/
**/__pycache__/


